////
///
/// Page Libary
///
/// @group Page
/// @since 2.3.0
///
////



///
/// Max of the page and content areas
/// @type number
///
$max-page-width: 1920px !default;
$max-content-width: 1080px !default;



///
/// Up to this breakpoint, the page-area is full-width and
/// the viewport-area is not visible
/// @type string
///
$page-fullwidth-breakpoint: 's' !default;



///
/// The minimum spacing between the viewport-area and page-area,
/// if the viewport-area is visible. If there is more room for space,
/// the spacing between the viewport-area and content-area is halved.
/// @type number
///
$spacing-viewport-to-page: 27px !default;



///
/// The spacing between the page-area and content-area
/// Includes a key/value pair of the spacing to increase the consistency.
/// Key must be an existing viewport key from the mediaquery config.
/// 'default' is required.
///
/// @type array
/// @example scss - Set two page spacings
///  $page-content-spacing (
///     'default': 16px,
///     's' : 10px,
///     'm' : 20px
///  );
///
$spacing-page-to-content: () !default;
